
.center{
    margin: auto;
    width: 50%;      
    text-align: center;
    padding-top:10px;
}

.vertical-line{
    border : none;
    border-left: 1px solid hsla(200, 10%, 50%,100);  
    width: 1px;  
   
}

.container{
    box-sizing: border-box; 
    width: 100%;
    max-width: 1200px;
}

.row:before,
.row:after {
         content: "";
         clear:both;
         display: table;  
                    
    }

    [class*='col-'] {
        float: left;
        min-height: 1px;              
    }

    .col-1{ width: 16.66%; }
    .col-2{ width: 33.33%; }
    .col-3{ width: 50%;    }
    .col-4{ width: 66.664%;}
    .col-5{ width: 83.33%; }
    .col-6{ width: 100%;   }


.black { color:black; }
.gray { color:rgb(120,120,120); }

.left { text-align: right; padding-right:50px; }
.right { text-align: left; padding-left:50px; }