/** Smartphone landscap **/
@media only screen and (min-width : 321px) and (orientation:landscape) {
/* Styles */
   
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
.vertical-line { height: 130%;}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
.vertical-line { height: 80%;}
}

/* iPad Pro (landscape) ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
/* Styles */
.vertical-line { height: 100%;}
}

/* iPad Pro (portrait) ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {
/* Styles */
.vertical-line { height: 70%;}
}

/* iPad 3 Landscape --------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/**********
iPad 3 Portrait
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
    .vertical-line{ height: 150%;}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 4 Portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 landscsape */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.vertical-line { height: 100%; }
}

/* iPhone 5 portrait */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.vertical-line { height: 95%; }
}

/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
 .vertical-line { height: 100%;}
}

/* iPhone 6 portrait */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.vertical-line { height: 80%;}
}

/* iPhone 6+ landscape */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.vertical-line { height: 80%;}
}

/* iPhone 6+ portrait */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) {
/* Styles */
.vertical-line { height: 70%;}
}

/* Samsung Galaxy S3 landscape */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 portrait */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 landscape */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S4 portrait */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 landscape */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
 .vertical-line{
        height: 200%;
    }
}

/* Samsung Galaxy S5 portrait */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .vertical-line{
        height: 80%;
    }
}

/*  Nexus 5x & Nexus 6P landscape */
@media only screen and (min-device-width: 412px) and (max-device-height: 732px) and (orientation : landscape) {
/* Styles */
 .vertical-line{
        height: 200%;
    }
}

/*  Nexus 5x & Nexus 6P portrait */
@media only screen and (min-device-width: 412px) and (max-device-height: 732px) and (orientation : portrait) {
/* Styles */
 .vertical-line{
        height: 80%;
    }
}

